*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height:100hv;
    /* background:rgb(25, 16, 16); */
    /* background-color: blueviolet; */
    background-color: blanchedalmond;
    color: black;
    /* color:rgb(252, 245, 245); */
    font-family: 'outfit';
}