.contact-container {
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    max-width: 800px;
    background-color:blanchedalmond;
    border-radius: 8px;
    
  }
  
  .contact-container h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .contact-container p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
    line-height: 1.6;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .icon-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
    margin: 10px;
  }
  
  .icon-link:hover {
    transform: scale(1.1);
  }
  
  .icon-link i {
    font-size: 48px;
    margin-bottom: 5px;
  }
  
  .icon-link span {
    font-size: 16px;
    color: #333;
  }
  
  
  .icon-link:first-child i {
    color: #25d366; 
  }
  
  .icon-link:nth-child(2) i {
    color: #0077b5; 
  }
  
  .icon-link:nth-child(3) i {
    color: #ea4335; 
  }
  
  
  .icon-link:hover i {
    color: #0077b5; 
  }
  
 
  @media screen and (max-width: 768px) {
    .contact-container h2 {
      font-size: 28px;
    }
  
    .contact-container p {
      font-size: 16px;
    }
  
    .social-icons {
      gap: 20px;
    }
  
    .icon-link {
      font-size: 20px;
    }
  
    .icon-link i {
      font-size: 40px;
    }
  }
  

  @media screen and (max-width: 480px) {
    .contact-container {
      margin: 20px;
      padding: 15px;
    }
  
    .contact-container h2 {
      font-size: 24px;
    }
  
    .contact-container p {
      font-size: 14px;
    }
  
    .icon-link {
      font-size: 18px;
    }
  
    .icon-link i {
      font-size: 36px;
    }
  }
  